<header id="main-header">
  <div id="logo">
    <a href="/">blog</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">all posts</a>
      </li>
      <li>
        <a href="/new-post">create post</a>
      </li>
    </ul>
  </nav>
</header>
