<article class="post-item">
  <h2><%= post.title %></h2>
  <p class="post-item-author">by <%= post.author_name %></p>
  <p><%= post.summary %></p>
  <div class="post-actions">
    <button class="btn btn-alt">Delete Post</button>
    <a>edit post</a>
    <a class="btn">view post</a>
  </div>
</article>
