<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'not found!' }) %>
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
      <h1>we could not find this resource!</h1>
      <p>unfortunately, we were not able to find this resource.</p>
      <a class="btn" href="/">back to safety!</a>
    </main>
  </body>
</html>
