<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'all posts' }) %>
    <link rel="stylesheet" href="/styles/posts.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <main id="all-posts">
      <h1>all posts</h1>

      <% if(!posts || posts.length === 0) { %>
      <p class="no-posts">
        no posts found. <a class="btn" href="/new-post">create one now!</a>
      </p>
      <% } else { %>
      <ol class="posts-list">
        <% for (const post of posts) { %>
        <li><%- include('includes/post-item', { post: post }) %></li>
        <% } %>
      </ol>
      <% } %>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
