footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: var(--accent-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-size: 0.9rem;
  color: (--primary-color);
}
